*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}


.flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
}

.flex-centered{
  justify-content: center;
  align-items: center;
}

.flex-between{
  justify-content: space-between;
}

.flex-wrap{
  flex-wrap: wrap;
}


.container{
  width: 100%;
  margin: 0 auto;
}

header{
  background-color: #0084fd;
  color: white;
  height: 85px;
  align-items: center;
}

div.logo{
  padding-left: 2rem;
}

div.menu{
  padding-right: 2rem;
}

div.menus{
  display: none;
}

div.menus ul li{
  display: inline;
}


div.cards{
  height: 100%;
}

article.card{
  background-color: #b5ddff;
  width: 90%;
  height: 300px;
  border: 1px dashed rgb(0, 0, 0);
  margin: 1rem auto;
  
}


div.planning{
  background-color: #9792e4;
  /* height: 100vh; */
  
}





/* RESPONSIVENESS */

@media screen and (min-width: 480px) {
  .flex-wrap{
    flex-direction: row;
    flex-wrap: wrap;
  }
  .container{
    width: 90%;
    margin: 0 auto;
  }

  article.card{
    width: calc(100% / 3);
    height: 300px;
    
  }
  
  article.card:first-child{
    width: calc((100% / 3) * 2);

  }
  
}


@media screen and (min-width: 768px) {
  .container{
    width: 70%;
    margin: 0 auto;
  }

  div.menus{
    display: inline;
  }

  div.icon{
    display: none;
  }

}